/* Sidebar styles */
.sidebar {
    background-color: #2a2a44;
    height: 100vh;
    padding-top: 15px;
    color: #ffffff;
}

.sidebarHeader {
    height: 80px;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.sidebarHeaderIcon {
    color: #ffffff;
    cursor: pointer;
}

.sidebarMenu {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 15px;
}



/* Main content styles */
.mainContent {
    padding: 0;
    height: 20vh;
}


/* Heading styles */
.heading {
    color: #3f3d3d;
}

/* Sidebar navigation link styles */
.sidebar a {
    color: #ffffff;
    text-decoration: none;
}

/* Active navigation link styles */
.sidebar a.active {
    font-weight: bold;
}

/* Sidebar navigation link hover styles */
.sidebar a:hover {
    color: #61dafb;
    /* Light blue color on hover */
}

.sidebar.collapsed {
    width: 80px;
    /* Reduce the width when the sidebar is collapsed */
}