/* Sidebar styles */
.sidebar {
    background-color: #2a2a44;
    height: 100vh;
    padding-top: 15px;
    color: #ffffff;
}

.sidebarHeader {
    height: 80px;
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

}


.sidebarHeaderIcon {
    color: #ffffff;
    cursor: pointer;
}

.sidebarMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22px;
}


.sidebarMenuLink{
    height: auto;
    width: 150px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
}

.sidebarMenuLink .collapsed{
    width: auto;
}


/* Sidebar navigation link styles */
.sidebar a {
    color: #ffffff;
    text-decoration: none;
}

/* Active navigation link styles */
.sidebar a.active {
    font-weight: bold;
}

/* Sidebar navigation link hover styles */
.sidebar a:hover {
    color: #61dafb;
    /* Light blue color on hover */
}
