.card {
    margin: 1rem auto;
    height: auto;
    width: 95%;
    border: none;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    /* transition: box-shadow 0.3s ease-in-out; */
}

/* .card:hover {
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.4);
} */